@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


.navbar .nav-links li:nth-of-type(5), .navbar .nav-links li:nth-of-type(4), .navbar .nav-links li:nth-of-type(3), .navbar .nav-links li:nth-of-type(2), .navbar .nav-links li:nth-of-type(1) {
  opacity: 0;
  transition: 0.3s ease-in all;
}

.navbar .nav-links li:nth-of-type(5).nav-link-open, .navbar .nav-links li:nth-of-type(4).nav-link-open, .navbar .nav-links li:nth-of-type(3).nav-link-open, .navbar .nav-links li:nth-of-type(2).nav-link-open, .navbar .nav-links li:nth-of-type(1).nav-link-open {
  opacity: 1;
  transform: translateY(10px);
}

.navbar .nav-links li a::after, .navbar .nav-links li a::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #ffffff;
  left: 0;
  border-radius: 2px;
  transition: 0.3s ease all;
}

.burger {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #23f0ff;
  cursor: pointer;
  z-index: 1;
  display: flex;
}

/* color: #FF9F14; */
/* color: #F8015C; */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F8015C;
  clip-path: circle(0px at 0 0px);
  transition: 0.5s ease all;
}
.navbar .nav-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar .nav-links li {
  list-style-type: none;
  margin: 2rem 0;
}
.navbar .nav-links li:nth-of-type(1).nav-link-open {
  transition-delay: 0.25s;
}
.navbar .nav-links li:nth-of-type(2).nav-link-open {
  transition-delay: 0.35s;
}
.navbar .nav-links li:nth-of-type(3).nav-link-open {
  transition-delay: 0.45s;
}
.navbar .nav-links li:nth-of-type(4).nav-link-open {
  transition-delay: 0.55s;
}
.navbar .nav-links li:nth-of-type(5).nav-link-open {
  transition-delay: 0.65s;
}
.navbar .nav-links li a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2.0rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar .nav-links li a::before {
  top: -2px;
}
.navbar .nav-links li a::after {
  bottom: -5px;
}
.navbar .nav-links li a:hover::before {
  width: 100%;
}
.navbar .nav-links li a:hover::after {
  width: 100%;
}
.navbar.nav-open {
  display: block;
  clip-path: circle(100%);
}



html, h1,h2,h3,h4,h5,h6,p, span {
    font-family: Poppins, sans-serif;
}
.bg-main {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.065) 0%, rgba(0, 0, 0, 0.07) 100%), url(images/bg-2.jpg) no-repeat center center scroll;
  height: 100vh;
  background-size: cover;
}
.bg-icons {
  background: url(images/icons-2.svg) no-repeat center center scroll;
  background-size: cover;
}
.bg-icons-2 {
  background: url(images/icons-3.svg) no-repeat center bottom scroll;
  background-size: 100%;
}
.bg-2 {
  background: linear-gradient(243.8deg, rgba(248,1,92, 0.8) 0%, rgba(255,159,20, 0.8) 100%), url(images/bg-3.jpg) no-repeat center center scroll;
  background-size: cover;
}
.bg-3 {
  background: linear-gradient(243.8deg, rgba(0,0,0, 0.76) 0%, rgba(0,0,0, 0.92) 100%), url(images/bg-3.jpg) no-repeat center center scroll;
  background-size: cover;
}
.bg-4 {
  background: linear-gradient(243.8deg, rgba(248,1,92, 0.9) 0%, rgba(255,159,20, 0.9) 100%);
  background-size: cover;
}
.gradient-container {
  background: linear-gradient(233.8deg, #F8015C 14.89%, #FF9F14 80.2%), #C4C4C4;
  border-radius: 0px 0px 36px 36px;
}
.bg-quote {
  background: url(images/quote.png) no-repeat center center scroll;
  background-size: 400px;
}
.header-one {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 84px;
  line-height: 110%;
  /* or 92px */

  letter-spacing: -0.05em;
}
.header-two {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 104%;
  /* or 71px */
  letter-spacing: -0.05em;
}
.header-three{
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 104%;
  /* or 50px */

  text-align: center;
  letter-spacing: -0.05em;
}
.header-four {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 104%;
}
.text-gradient {
  background: -webkit-linear-gradient(263.19deg, #F8015C 24.05%, #FF9F14 75.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-orange {
  color: #FF9F14;
}
.text-red {
  color: #F8015C;
}
.bg-form {
  border: 2px solid #EEF0F7;
  box-sizing: border-box;
  box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.02);
  border-radius: 36px;
}
::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}
input{
  height: 50px;
  border: 2px solid #CED1DB;
  box-sizing: border-box;
  border-radius: 6px;
  text-indent: 10px;
}
input[type=submit]{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 162%;
  /* or 32px */


  color: #FFFFFF;
  border: 0px;
  height: 50px;
  background: #F8015C;
  border-radius: 50px;
}
textarea {
  border: 2px solid #CED1DB;
  box-sizing: border-box;
  border-radius: 6px;
  text-indent: 10px;
}
.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.text-2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;

  color: #626879;
}
.text-3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.text-4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
@media (max-width:800px) {
  .header-one {
    font-size: 52px;
  }
  .header-two {
    font-size: 48px;
  }
}
